{
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "consistent",
  "bracketSpacing": false,
  "arrowParens": "always",
  "svelteSortOrder": "options-scripts-markup-styles",
  "plugins": ["prettier-plugin-svelte"]
}
