$primary: #058cc6;
$secondary: #25dab6;
$white: #fdfdfb;
$black: #0d0a02;
$lightGray: #eeeeee;
$gray: #aaaaaa;
$darkGray: #555555;

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': $white,
  'black': $black,
  'light-gray': $lightGray,
  'gray': $gray,
  'dark-gray': $darkGray,
);
