@use 'fonts' as *;
@use 'animations' as *;
@use 'mixins' as *;
@use 'breakpoints' as *;

html {
  body {
    padding: 0;
    margin: 0;
    font-family: 'Shantell Sans', cursive;

    --react: #61dafb;
    --scss: #cf649a;
    --typescript: #2e75c3;
    --git: #dd4b34;
    --graphql: #e132a7;
    --nextjs: #010101;

    --white: #fdfdfb;
    --black: #0d0a02;

    &[data-theme='light'] {
      --primary: #058cc6;
      --secondary: #25dab6;
      --gray: #d9d9d9;
      --background: var(--white);
      --text: var(--black);
      --links: var(--primary);
    }

    &[data-theme='dark'] {
      --primary: #058cc6;
      --secondary: #25dab6;
      --gray: #404040;
      --background: var(--black);
      --text: var(--white);
      --links: var(--secondary);
    }

    color: var(--text);
    background-color: var(--background);

    @each $size, $value in $fontSizes {
      --font-size-#{$size}: #{$value};
      .fs-#{$size} {
        font-size: var(--font-size-#{$size});
      }
    }

    @each $weight, $value in $weights {
      --font-weight-#{$weight}: #{$value};
    }

    header,
    main {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 16px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: flex;
      align-items: center;
      font-weight: var(--font-weight-extrabold);
      gap: 0.5rem;
      margin: 1rem 0;

      &:not([data-no-link]) {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &::after {
          content: '';
          background: url('https://api.iconify.design/mdi/link-variant.svg?color=gray') no-repeat
            center center / contain;
          display: inline-block;
          height: 0.75em;
          aspect-ratio: 1 / 1;
        }
      }
    }

    h1 {
      font-size: var(--font-size-xxxxxl);
    }

    h2 {
      font-size: var(--font-size-xxxxl);
    }

    h3 {
      font-size: var(--font-size-xxxl);
    }

    h4 {
      font-size: var(--font-size-xxl);
    }

    h5 {
      font-size: var(--font-size-xl);
    }

    h6 {
      font-size: var(--font-size-lg);
    }

    p,
    span {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-md);
    }

    p {
      text-indent: 2rem;
      padding: 0;
      margin: 0;
    }

    a {
      color: var(--links);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-md);
      &:hover {
        color: var(--white);
        filter: brightness(0.9);
      }
    }

    blockquote {
      display: flex;
      flex-direction: column;
      margin: 16px auto;
      border-left: solid var(--primary) 8px;
      font-style: italic;
      background-color: var(--gray);
      border-radius: 8px;
      padding: 0 16px;
    }

    em {
      font-weight: var(--font-weight-extrabold);
    }

    pre {
      padding: 16px;
      border-radius: 8px;
      background-color: var(--white);
      code {
        font-family: 'Shantell Sans', cursive;
      }
    }

    p,
    span,
    code {
      font-size: 1rem;
    }

    ul {
      li.spacer {
        flex-grow: 1;
      }
    }

    img {
      margin: 0;
    }
  }
}
