---
import '../styles/global.scss';
import Button from '@atoms/Button/index.svelte';
console.log('This runs in your terminal, not the browser!');
---

<script>
  document.querySelector('button.clickme').addEventListener('click', () => {
    alert('Hello, World!');
  });
</script>

<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
  <Button className="clickme">Click me</Button>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
