---
import '../styles/global.scss';
import Link from '@/components/atoms/Link.svelte';
console.log('This runs in your terminal, not the browser!');
---

<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
  <Link variant="primary" className="clickme">Click me</Link>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
