---
import { Icon } from "astro-icon/components";

interface Props {
  technologies: Array<
    | "nextjs"
    | "react"
    | "typescript"
    | "html5"
    | "sass"
    | "graphql"
    | "git"
    | "shopify"
    | "drupal"
  >;
}

const { technologies = [] } = Astro.props;
---

<ul class="list-none flex flex-row flex-wrap gap-4 text-sm print:text-2xs">
  {
    technologies.includes("nextjs") && (
      <li class="flex flex-row items-center gap-1">
        <Icon class="text-white-400 print:text-black" name={"cib:next-js"} />{" "}
        Next.js
      </li>
    )
  }
  {
    technologies.includes("react") && (
      <li class="flex flex-row items-center gap-1">
        <Icon class="text-blue-400" name={"cib:react"} /> React
      </li>
    )
  }
  {
    technologies.includes("typescript") && (
      <li class="flex flex-row items-center gap-1">
        <Icon
          class="text-blue-300 print:text-blue-500"
          name={"cib:typescript"}
        />{" "}
        Typescript
      </li>
    )
  }
  {
    technologies.includes("html5") && (
      <li class="flex flex-row items-center gap-1">
        <Icon class="text-orange-500" name={"cib:html5"} /> HTML5
      </li>
    )
  }
  {
    technologies.includes("sass") && (
      <li class="flex flex-row items-center gap-1">
        <Icon class="text-pink-300" name={"cib:sass"} /> SASS
      </li>
    )
  }
  {
    technologies.includes("graphql") && (
      <li class="flex flex-row items-center gap-1">
        <Icon class="text-fuchsia-500" name={"cib:graphql"} /> GraphQL
      </li>
    )
  }
  {
    technologies.includes("git") && (
      <li class="flex flex-row items-center gap-1">
        <Icon class="text-orange-500" name={"cib:git"} /> Git
      </li>
    )
  }
  {
    technologies.includes("shopify") && (
      <li class="flex flex-row items-center gap-1">
        <Icon
          class="text-green-200 print:text-green-500"
          name={"cib:shopify"}
        />{" "}
        Shopify
      </li>
    )
  }
  {
    technologies.includes("drupal") && (
      <li class="flex flex-row items-center gap-1">
        <Icon class="text-blue-300" name={"cib:drupal"} /> Drupal
      </li>
    )
  }
</ul>
