---
const className = Astro.props.className || '';
---

<section class={`Layout ${className}`}>
  <slot name="title" />
  <section>
    <slot name="first" />
  </section>
</section>

<style lang="scss">
  .Layout {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    border-radius: 8px;
    padding: 16px;
    gap: 16px;

    > :global(:is(h1, h2, h3, h4, h5, h6)) {
      margin-bottom: 0;
    }

    > section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 16px;
    }
  }
</style>
