---
const icon: 'react' | 'typescript' | 'scss' | 'git' | 'graphql' | 'expo' = Astro.props.icon;
---

<span class="Technology" data-icon={icon}></span>

<style lang="scss">
  .Technology {
    display: inline-block;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &[data-icon='react']::before {
      content: url('https://api.iconify.design/mdi/react.svg?color=%2361dafb');
    }

    &[data-icon='reactnative']::before {
      content: url('https://api.iconify.design/mdi/react.svg?color=%2361dafb');
    }

    &[data-icon='nextjs'] {
      content: url('https://api.iconify.design/teenyicons/nextjs-outline.svg?color=%23010101');
    }

    &[data-icon='typescript']::before {
      content: url('https://api.iconify.design/simple-icons/typescript.svg?color=%232e75c3');
    }

    &[data-icon='scss']::before {
      content: url('https://api.iconify.design/simple-icons/sass.svg?color=%23c69');
    }

    &[data-icon='git']::before {
      content: url('https://api.iconify.design/simple-icons/git.svg?color=%23f34f29');
    }

    &[data-icon='graphql']::before {
      content: url('https://api.iconify.design/simple-icons/graphql.svg?color=%23e10098');
    }

    &[data-icon='storybook']::before {
      content: url('https://api.iconify.design/simple-icons/storybook.svg?color=%23ff4785');
    }

    &[data-icon='expo'] {
      content: url('https://api.iconify.design/cib/expo.svg?color=%23010101');
    }

    &[data-icon='contentstack'] {
      content: url('https://api.iconify.design/ri/stack-fill.svg?color=%23eb5646');
    }
  }
</style>
