---
export let ratio: '1:1' | '4:3' | '16:9' | '21:9' = '1:1';
---

<section class="layout">
  <slot name="title" />
  <section data-ratio={ratio}>
    <slot name="first" />
    <slot name="second" />
  </section>
</section>

<style lang="scss">
  @use '@/styles/mixins' as *;
  @use '@/styles/breakpoints' as *;

  section {
    display: grid;
    > section {
      display: grid;
      grid-template-rows: 1fr;

      @include mq($bp--xs) {
        &[data-ratio='1:1'] {
          grid-template-columns: 1fr 1fr;
        }

        &[data-ratio='4:3'] {
          grid-template-columns: 4fr 3fr;
        }

        &[data-ratio='16:9'] {
          grid-template-columns: 16fr 9fr;
        }

        &[data-ratio='21:9'] {
          grid-template-columns: 21fr 9fr;
        }
      }
    }
  }
</style>
