---
import Link from '@/components/atoms/Link.astro';

import {getEntryBySlug} from 'astro:content';

const resumeLink = await getEntryBySlug('links', 'useful/resume');
const calendlyLink = await getEntryBySlug('links', 'useful/calendly');
---

<header>
  <img src="/self.jpg" alt="Clayton Cook" />
  <section>
    <h1 data-no-link>Clayton Cook</h1>
    <section>
      <Link href={resumeLink.data.url} variant="primary">Resume</Link>
      <Link href={calendlyLink.data.url} variant="secondary">Book a Meeting</Link>
    </section>
  </section>
</header>

<style lang="scss">
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    > img {
      width: 256px;
      aspect-ratio: 1 / 1;
      border-radius: 16px;
      margin-right: 2rem;
      rotate: -1.5deg;
      animation: fadeUp 0.5s ease-out;
    }

    > section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;

      > h1 {
        text-align: center;
      }

      > section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
      }
    }
  }
</style>
