---
import Toggle from '../atoms/Toggle.svelte';
---

<script>
  (document.querySelector('input.darkMode') as HTMLInputElement).checked =
    document.body.getAttribute('data-theme') === 'dark';

  document.querySelector('input.darkMode')?.addEventListener('change', (event) => {
    document.body.setAttribute(
      'data-theme',
      (event.target as HTMLInputElement).checked ? 'dark' : 'light',
    );
  });
</script>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li class="spacer"></li>
    <li>
      <Toggle
        client:load
        className="darkMode"
        uncheckedIcon="https://api.iconify.design/mdi:weather-sunny.svg"
        checkedIcon="https://api.iconify.design/mdi:weather-night.svg"
      />
    </li>
  </ul>
</nav>

<style lang="scss">
  nav {
    padding: 1rem;
    background-color: var(--primary);
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 16px;
      li {
        > a {
          display: block;
          color: var(--white);
          text-decoration: none;
        }
      }
    }
  }
</style>
