<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<style lang="scss">
  nav {
    background-color: var(--primary);
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      li {
        a {
          display: block;
          padding: 1rem;
          color: var(--white);
          text-decoration: none;
        }
      }
    }
  }
</style>
