---
import '../styles/global.scss';
---

<script>
  document.querySelectorAll('h1, h2, h3, h4, h5, h6').forEach((heading) => {
    heading.addEventListener('click', () => {
      navigator.clipboard.writeText(
        `${window.location.host}${window.location.pathname}#${heading.id}`,
      );
    });
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="normal" />
  </head>
  <body data-theme="dark">
    <slot />
  </body>
</html>

<style lang="scss">
  html {
    > body {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
</style>
