---
import App from './App.astro';
import Navbar from '@/components/molecules/Navbar.astro';
import Header from '@/components/molecules/Header.astro';
import Footer from '@/components/molecules/Footer.astro';
import '../styles/global.scss';
---

<App>
  <Navbar />
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</App>
